<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ascend">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".createPeak"
            android:label="Create a Peak" />
        <activity
            android:name=".KIMRiseTogether"
            android:label="@string/title_activity_kimrise_together"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".KIMYourPeaks"
            android:label="@string/title_activity_kimyour_peaks"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".KIMRunMarathon"
            android:label="@string/title_activity_run_marathon"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".YourPeaks"
            android:label="@string/title_activity_your_peaks" />
        <activity
            android:name=".phasetasks"
            android:label="@string/title_activity_phasetasks" />
        <activity
            android:name=".pitchDescription"
            android:label="pitchDescription" />
        <activity
            android:name=".peak_phases"
            android:label="@string/title_activity_peak_phases" />
        <activity
            android:name=".PitchComplete"
            android:label="@string/title_activity_pitch_complete"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BrowseFirstPage"
            android:label="@string/title_activity_browse_first_page" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>